body {
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

#bg {
    height: 100%;
    width: 100%;
    background-color: rgb(2, 211, 248);
    clip-path: polygon(44% 0, 100% 0, 100% 43%, 85% 66%, 59% 100%, 32% 100%, 0 100%, 0 46%, 21% 23%);
    position: absolute;
    z-index: -1;
}

.container {
    background-color: rgb(236, 226, 226);
    height: 275px;
    width: 505px;
    border-radius: 23px;
    margin: auto;
    margin-top: 12%;
    margin-left: 28%;
    box-shadow: 10px 10px 10px 0px rgba(14, 15, 15, 0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(14, 15, 15, 0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(14, 15, 15, 0.75);
}

.container h1 {
    color: black;
    font-size: 50px;
    font-family: sans-serif;
    position: relative;
    margin-left: 32%;
}

.button-container {
    display: flex;
}

.btn {
    padding: 8px;
    margin-left: 50px;
    border-radius: 10px;
    border-color: black;
    font-size: 22px;
    font-weight: bold;
}

#value {
    font-size: 85px;
    position: relative;
    margin-left: 43%;
}

.decrease:hover {
    color: red;
    background-color: black;
}

.reset:hover {
    background-color: black;
    color: white;
}

.increase:hover {
    color: green;
    background-color: black;
}