body {
  font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 115, 121, 1) 0%,
    rgba(85, 187, 195, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}

#bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.container {
  background-color: rgb(236, 226, 226);
  height: 275px;
  width: 505px;
  border-radius: 23px;
  margin: auto;
  box-shadow: 10px 10px 10px 0px rgba(14, 15, 15, 0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(14, 15, 15, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(14, 15, 15, 0.75);
}

.container h1 {
  color: black;
  font-size: 50px;
  font-family: sans-serif;
  position: relative;
  margin-left: 32%;
}

.button-container {
  display: flex;
}

.btn {
  padding: 8px;
  margin-left: 50px;
  font-size: 22px;
  border-radius: 10px;
  border-color: black;
  font-weight: bold;
}

#value {
  font-size: 85px;
  position: relative;
  margin-left: 43%;
}

.decrease:hover {
  color: red;
  background-color: black;
}

.reset:hover {
  background-color: black;
  color: white;
}

.increase:hover {
  color: green;
  background-color: black;
}
/* Adding Media Query */
@media (max-width: 900px) {
  .container h1 {
    margin-left: 22%;
  }
  .container {
    height: 275px;
    width: 350px;
  }
  .btn {
    padding: 5px;
    margin-left: 40px;
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 250px;
  }
  .container h1 {
    margin-left: 17%;
  }
  .btn {
    margin-left: 10px;
  }
  #value {
    margin-left: 43%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 200px;
  }
  .container h1 {
    font-size: 30px;
  }
  .btn {
    margin-left: 3px;
    font-size: 12px;
  }
  #value {
    margin-left: 25%;
  }
}
